---

---

<div id="TOP">
  <div class="hidden md:block relative h-screen w-screen">
    <img
      class="object-cover absolute top-0 left-0 h-full w-full"
      src="/assets/common/img_mv_bg.jpg"
      alt=""
    />
    <div class="relative max-w-[794px] mx-auto flex flex-col items-center">
      <div class="relative h-[68vh] max-h-[653px]">
        <img class="h-full" src="/assets/common/img_mv_icon1.png" alt="" />
        <img
          class="absolute top-[5vh] left-[-22vh] h-[60vh] max-h-[576px] z-10"
          src="/assets/common/img_mv_icon2.png"
          alt=""
        />
        <img
          class="absolute bottom-[-32vh] left-[-26vh] h-[45vh] max-h-[432px]"
          src="/assets/common/img_mv_icon3.png"
          alt=""
        />
        <img
          class="absolute h-[26vh] bottom-[-18vh] right-[-14vh] max-h-[250px]"
          src="/assets/common/img_mv_icon4.svg"
          alt=""
        />
      </div>
      <img
        class="mt-[-4.3vh] h-[23vh] max-h-[221px] z-10"
        src="/assets/common/img_mv_icon5.svg"
        alt=""
      />
      <img
        class="ml-[8vh] h-[7.4vh] max-h-[71px] z-10"
        src="/assets/common/img_mv_icon6.svg"
        alt=""
      />
    </div>
  </div>
  <!-- <img
    class="h-full w-full block md:hidden"
    src="/assets/common/img_mv_sp.jpg"
    alt=""
  /> -->
  <div class="relative h-screen w-screen max-h-[740px] block md:hidden">
    <img
      class="object-cover absolute top-0 left-0 h-full w-full"
      src="/assets/common/sp/img_mv_bg.jpg"
      alt=""
    />
    <img
      src="/assets/common/sp/img_mv_icon3.png"
      alt=""
      class="absolute bottom-0"
    />
    <div
      class="absolute top-[6vh] max-w-[340px] w-full left-[50%] translate-x-[-50%]"
    >
      <img src="/assets/common/sp/img_mv_icon1.png" alt="" />
      <img
        src="/assets/common/sp/img_mv_icon5.svg"
        alt=""
        class="mt-[-42px] ml-[62px]"
      />
      <img
        src="/assets/common/sp/img_mv_icon4.svg"
        alt=""
        class="absolute top-[220px] right-[-10px] w-[111px]"
      />
      <img
        src="/assets/common/sp/img_mv_icon2.png"
        alt=""
        class="absolute top-[118px] left-[-14px] w-[116px]"
      />
    </div>
  </div>
</div>
