---
import MainVisual from '@/components/MainVisual/MainVisual.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout
  meta={{
    title: 'TOP',
  }}
>
  <MainVisual />
  <h1>Title</h1>
</Layout>

<style>
  main {
    width: 100%;
  }
</style>
