---
// export type Props = {}

// const {} = Astro.props
---

<header class="bg-gray-200 flex h-[90px] items-center justify-between px-5">
  <h1 class="text-xl">Astro Template</h1>
  <nav class="ml-5">
    <ul class="flex items-center gap-3">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</header>
