---
import '@/styles/globals.css'
import Meta, { type Props as MetaProps } from '@/components/Meta/Meta.astro'

export interface Props {
  meta: MetaProps
}

const { meta } = Astro.props
const GTM_ID = 'GTM-52QZQTXZ'

// Define GTM script as a string constant
const GTM_SCRIPT = `
  (function(w,d,s,l,i){
    w[l]=w[l]||[];
    w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});
    var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),
    dl=l!='dataLayer'?'&l='+l:'';
    j.async=true;
    j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;
    f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','${GTM_ID}');
`
---

<!doctype html>
<html lang="ja">
  <head>
    <!-- Google Tag Manager -->
    <script is:inline set:html={GTM_SCRIPT} />
    <!-- End Google Tag Manager -->
    <Meta {...meta} />
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-52QZQTXZ"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->
    <!-- <Header /> -->
    <main>
      <slot />
    </main>
    <!-- <Footer /> -->
    <style is:global></style>
  </body>
</html>
